html {
    font-size: 62.5%;
    font-family: 'Prompt' sans-serif;
}

.button1 {
    display: block;
    width: 25rem;
    height: 5rem;
    line-height: 5rem;
    font-weight: bold;
    text-decoration: none;
    background: #333;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 3px solid #333;
    transition: all .35s;
    font-family: 'Prompt', sans-serif;
}

.icon {
    width: 5rem;
    height: 5rem;
    border: 3px solid transparent;
    position: absolute;
    transform: rotate(45deg);
    right: 0;
    top: 0;
    z-index: -1;
    transition: all .35s;
}

.icon svg {
    width: 3rem;
    position: absolute;
    top: calc(50% - 15px);
    left: calc(50% - 15px);
    transform: rotate(-45deg);
    fill: #f000cc;
    transition: all .35s;
}

.button1:hover {
    width: 20rem;
    border: 0.3rem solid #f000cc;
    background: transparent;
    color: #f000cc;
}

.button1:hover+.icon {
    border: 3px solid #f000cc;
    right: -25%;
}