input[type=checkbox] {
    width: 5rem;
    height: 5rem;
}

.flexingtext {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-p {
    color: #e6007e;
    font-size: 4rem;
    margin-left: 2rem;
}

.boxes {
    margin-top: 4rem;
}