.image-slider {
    margin-left: 0rem;
    position: relative;
    display: inline-block;
    line-height: 100%;
}

.image-slider>div {
    position: absolute;
    overflow: hidden;
    display: inline-block;
}

.animation-saber {
    content: "";
    width: 100%;
    height: 78%;
    background: rgba(255, 255, 255, 1);
    z-index: 1;
    position: absolute;
    animation-name: "";
    animation-duration: 10s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.2, 0.4, 0.735, 1);
}



@keyframes saber-slider {
    0% {
        height: 80%;
    }

    100% {
        height: 0;
    }
}