* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Prompt' sans-serif;
}

main {
    height: 500rem;
}

body {
    scroll-behavior: smooth;
}

.header {
    background-color: #a492b2;
    height: 5rem;
    width: 100%;
    position: fixed;
    z-index: 10;
    display: flex;
    justify-content: space-between;
}

.header-logo,
.logo--git {
    padding-top: 0.2rem;
    height: 100%;
    display: flex;
    align-items: center;
}

.right--text {
    display: flex;
    justify-content: space-between;
    text-align: right;
    align-items: center;
    color: white;
    font-family: 'Prompt' sans-serif;
    font-size: 2rem;
    margin-right: 2rem;
}

.left--text {
    margin-right: 2rem;
}

.Product--pagina-1,
.Product--pagina-2 {
    color: white;
    text-decoration: none;
}

.logo {
    height: 4rem;
    margin-left: 2rem;
}

.land-img {
    width: 100%;
    height: 110vh;
    object-fit: cover;
}

.titel {
    position: absolute;
    color: #f000cc;
    top: 20rem;
    font-family: 'Prompt', sans-serif;
    font-size: 4rem;
}

.titel--onder {
    position: absolute;
    color: #f000cc;
    top: 25rem;
    font-family: 'Prompt', sans-serif;
    font-size: 4rem;
}

.button {
    position: absolute;
    justify-content: center;
    top: 40rem;
}

.move {
    display: flex;
    justify-content: center;
}

.card--top-page {
    height: 89vh;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(16, 2fr);
    grid-template-rows: repeat(16, 2fr);
    gap: 2rem;
}

.card {
    list-style: none;
    background: white;
    border-radius: 1rem;
    box-shadow: 0 1rem 1rem 0 #a492b2;
}

.card--invisible {
    list-style: none;
    background: transparent;
    border-radius: 1rem;
}

.card--layout2 {
    list-style: none;
    border-radius: 50%;
}

.card1 {
    grid-row: 2/15;
    grid-column: 2/10;
}

.lightsaber-card1 {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.card2 {
    grid-row: 2/16;
    grid-column: 10/16;
    box-shadow: none;
}

.h1--card2 {
    font-size: 4rem;
    font-family: 'Prompt', sans-serif;
}

.tekst--card2 {
    position: relative;
    font-size: 4rem;
    font-weight: 300;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.card--mid-page {
    height: 89vh;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(17, 2fr);
    grid-template-rows: repeat(15, 2fr);
    gap: 2rem;
}



.card3 {
    grid-row: 1/12;
    grid-column: 2/5;
}


.card4 {
    grid-row: 1/12;
    grid-column: 6/9;
}

.card5 {
    grid-row: 1/12;
    grid-column: 10/13;
}


.card6 {
    grid-row: 1/12;
    grid-column: 14/17;
}

.card3:hover,
.card4:hover,
.card5:hover,
.card6:hover {
    transform: scale(1.1);
}

.artikel--saber-info {
    font-family: 'Prompt', sans-serif;
    font-weight: bolder;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
}

.review {
    display: flex;
    justify-content: center;
}

.price {
    font-size: 2.5rem;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    color: #e6007e;
}

.lightsaber {
    object-fit: contain;
    width: 100%;
    height: 75%;
}

.lightsaber-groen {
    object-fit: contain;
    width: 100%;
    height: 55%;
    padding-bottom: 6rem;
    padding-top: 3rem;
}

.lightsaber--press {
    color: black;
    text-decoration: none;
}

.card--second--mid-page {
    height: 165vh;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(17, 2fr);
    grid-template-rows: repeat(23, 3fr);
    gap: 2rem;
}

.card--third--mid-page {
    height: 165vh;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(18, 2fr);
    grid-template-rows: repeat(23, 3fr);
    gap: 2rem;
}

.card--circle1 {
    grid-row: 1/10;
    grid-column: 3/8;
}

.card--circle2 {
    grid-row: 1/10;
    grid-column: 11/16;
}

.card--circle3 {
    grid-row: 16/26;
    grid-column: 3/8;
}

.card--circle4 {
    grid-row: 16/26;
    grid-column: 11/16;
}

.circle--info {
    grid-row: 11/13;
    grid-column: 3/8;
}

.circle--info2 {
    grid-row: 11/13;
    grid-column: 11/16;
}

.circle--info3 {
    grid-row: 27/29;
    grid-column: 3/8;
}

.circle--info4 {
    grid-row: 27/29;
    grid-column: 11/16;
}

.featurs {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.8rem;
    color: #f000cc;
}

.featurs-tekst {
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
}

.featurs-title {
    display: flex;
    justify-content: center;
    font-size: 2.6rem;
}

.featurs-tekst-bonus {
    display: flex;
    justify-content: center;
    font-size: 2.2rem;
}

.icons {
    object-fit: fill;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.icons-pallet {
    object-fit: fill;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.card7 {
    grid-row: 4/14;
    grid-column: 7/11;
}

.card8 {
    grid-row: 4/14;
    grid-column: 2/7;
}

.card9 {
    grid-row: 4/14;
    grid-column: 12/16;
}


.artikel--overtuiging-titel {
    font-size: 3rem;
    display: flex;
    justify-content: center;
}

.artikel--overtuiging-tekst {
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
}

.special--saber {
    margin-top: 50%;
    align-items: center;
}











































































































@media screen and (max-width: 92.5rem) {
    .tekst--card2 {
        font-size: 3.5rem;
    }
}


@media screen and (max-width: 87.5rem) {
    .tekst--card2 {
        font-size: 3.5rem;
    }

    .artikel--overtuiging-titel {
        font-size: 2rem;
    }

    .artikel--overtuiging-tekst {
        font-size: 2rem;
    }


}

@media screen and (max-width: 80.5rem) {
    .tekst--card2 {
        font-size: 2.6rem;
    }

    .price {
        font-size: 2rem;
    }

    .artikel--saber-info {
        font-size: 2rem;
    }

    .lightsaber-groen {
        padding-bottom: 4rem;
    }

    .artikel--overtuiging-titel {
        font-size: 2rem;
    }

    .artikel--overtuiging-tekst {
        font-size: 2rem;
    }


}

@media screen and (max-width: 76.5rem) {
    .tekst--card2 {
        font-size: 2rem;
    }

    .price {
        font-size: 1.5rem;
    }

    .artikel--saber-info {
        font-size: 1.5rem;
    }

    .lightsaber-groen {
        padding-bottom: 3rem;
    }

    .card--circle1 {
        grid-row: 3/10;
        grid-column: 4/7;
    }

    .card--circle2 {
        grid-row: 3/10;
        grid-column: 12/15;
    }

    .card--circle3 {
        grid-row: 19/26;
        grid-column: 4/7;
    }

    .card--circle4 {
        grid-row: 19/26;
        grid-column: 12/15;
    }

    .featurs {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        color: #f000cc;
    }

    .featurs-tekst {
        display: flex;
        justify-content: center;
        font-size: 1.5rem;
    }

    .featurs-title {
        display: flex;
        justify-content: center;
        font-size: 1.5rem;
    }

    .featurs-tekst-bonus {
        display: flex;
        justify-content: center;
        font-size: 1.4rem;
    }

    .artikel--overtuiging-titel {
        font-size: 2rem;
    }

    .artikel--overtuiging-tekst {
        font-size: 2rem;
    }

}

@media screen and (max-width: 66.5rem) {
    .tekst--card2 {
        font-size: 2rem;
    }

    .artikel--overtuiging-titel {
        font-size: 1.7rem;
    }

    .artikel--overtuiging-tekst {
        font-size: 1.7rem;
    }
}

@media screen and (max-width: 60rem) {
    .tekst--card2 {
        font-size: 2rem;
    }

    .artikel--overtuiging-titel {
        font-size: 2rem;
    }

    .artikel--overtuiging-tekst {
        font-size: 2rem;
    }

}

@media screen and (max-width: 55rem) {}

@media screen and (max-width: 45rem) {
    body {
        background-color: red;
    }
}