html {
    font-size: 62.5%;
}

input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
}

label {
    cursor: pointer;
    text-indent: -999rem;
    width: 20rem;
    height: 10rem;
    background: rgb(43, 43, 43);
    display: block;
    border-radius: 10rem;
    position: relative;
}

label:after {
    content: '';
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    width: 9rem;
    height: 9rem;
    background: #fff;
    border-radius: 9rem;
    transition: 0.3s;
}

input:checked+label {
    background: #aa3b79;
}

input:checked+label:after {
    left: calc(100% - 0.5rem);
    transform: translateX(-100%);
}

label:active:after {
    width: 13rem;
}

.center {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}